<% @page_title = "Notifications" %>
<% @back_button = "logout" %>
<% @show_bolt_button = false %>
<% @cog_button = "user" %>
<%= render 'shared/navbar' %>

<div class="container d-flex flex-column justify-content-center bw_padding-bottom-1">
    <% @notifications.each do |notification| %>
      <div class="bw_notification d-flex flex-row justify-content-left align-items-center py-3 px-0">
        <div class="col-2 pl-0">
          <% if notification.from_model == nil %>
            <div></div>
          <% else %>
            <%= show_svg("#{notification.from_model_avatar_file}") %>
          <% end %>
        </div>
        <div>
          <small><%= notification.created_at.strftime('%b %d at %R') %></small>
          <br>
          <a href="<%= notification.from_model_link %>" class="text-dark"><%= notification.content %></a>
        </div>
      </div>
  <% end %>
</div>
<%= render "shared/bottombar"%>
