<footer class="fixed-bottom w-100 border-top">
  <div class="container d-flex justify-content-between align-items-center px-4 py-3">
    <%= link_to dashboard_path do %>
      <i class="fas fa-home text-dark"></i>
    <% end %>

    <%= link_to groups_path do %>
      <i class="fas fa-users text-dark"></i>
    <% end %>

    <% if @show_bolt_button == true %>
      <div class="p-relative">
        <%= link_to new_group_event_path(@group), class: "bw_big-bolt-button d-flex justify-content-center align-items-center" do %>
          <i class="fas fa-bolt"></i>
        <% end %>
      </div>
    <% end %>

    <%= link_to notifications_path do %>
      <i class="fas fa-bell text-dark"></i>
    <% end %>

    <%= render 'shared/edit_links' %>
  </div>
</footer>
