<%= simple_form_for [ @vote ] do %>

  <% Vote.get_vote_tastes.each do |taste| %>
    <div class="d-flex justify-content-between align-items-center">
      <p><%= taste %></p>
      <div>
        <span class="bw_votes-like"><i class="far fa-angry"></i></span>
        <span class="bw_votes-like active"><i class="far fa-meh"></i></span>
        <span class="bw_votes-like"><i class="far fa-grin-hearts"></i></span>
        <%= fields_for instance_variable_get("@" + "vote_" + taste) do |f| %>
            <%= f.input :taste, as: :hidden, input_html: { value: "#{taste}", id: "taste-#{taste}_taste" } %>
            <%= f.input :like, as: :hidden, input_html: { value: 0, id: "taste-#{taste}_like"  } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <p><%= submit_tag "Update Images", :class => 'btn btn-success' %></p>

<% end %>
