<div class="container d-flex flex-column justify-content-between bw_padding-bottom-2 mt-4">
<h2 class="text-center body-font h-32px font-bolder">Vote quick!</h2>
<div class="d-flex justify-content-center align-items-center bw_countdown">
  <div id="clockdiv" data-deadline="<%= @event.get_deadline_timestamp %>">
    <div class="d-none">
      <span class="days"></span>
      <div class="smalltext">:</div>
    </div>
    <div class="d-inline-flex">
      <span class="hours"></span>
      <div class="smalltext">:</div>
    </div>
    <div class="d-inline-flex">
      <span class="minutes"></span>
      <div class="smalltext">:</div>
    </div>
    <div class="d-inline-flex">
      <span class="seconds"></span>
      <div class="smalltext"></div>
    </div>
  </div>
</div>

  <strong class="text-center mb-4">Vote by clicking on the faces.</strong>

  <%= form_tag event_votes_path(@event), method: :post do |f| %>

    <% Vote::VOTE_TASTES.each do |taste| %>

      <div class="d-flex justify-content-between align-items-center py-3 bw_event-vote">

        <div class="d-flex align-items-center">
          <div class="avatars mb-0">
            <%= show_svg("avatars/tastes/#{taste.downcase}.svg") %>
          </div>
          <span class="body-font"><%= taste %></span>
        </div>

        <div>
          <% taste_formatted = taste.gsub(" ", "_") %>
          <div class="d-flex justify-content-center align-items-center bw_event-likes-container">
            <input type="text" name="tastes[<%= taste_formatted %>]" value="0" id="<%= taste_formatted %>_like" hidden>

            <div class="bw_event-likes <%= taste_formatted %>" data-taste="<%= taste_formatted %>" data-tastelike="-100">
              <i class="far fa-angry"></i>
            </div>
            <div class="bw_event-likes active <%= taste_formatted %>" data-taste="<%= taste_formatted %>" data-tastelike="0">
              <i class="far fa-meh"></i>
            </div>
            <div class="bw_event-likes <%= taste_formatted %>" data-taste="<%= taste_formatted %>" data-tastelike="1">
              <i class="far fa-grin-hearts"></i>
            </div>
          </div>
        </div>

      </div>

    <% end %>
    <input type="submit" value="Confirm" class="btn btn-primary w-100 fixed-bottom btn-lg rounded-0 bw_margin-bottom-1">

  <% end %>

</div>


