<div class="container d-flex flex-column justify-content-center align-items-center mt-4 bw_padding-bottom-2">
  <strong class="text-muted">You are going to:</strong>
  <div class="bw_big-event-infos d-flex flex-row justify-content-between align-items-center mt-2">
    <strong><i class="fas fa-calendar-check mr-2 text-primary"></i> <%= @event.date.strftime("%b %d") %></strong>
    <strong><i class="fas fa-users mr-2 text-primary"></i> <%= @event.users.count %></strong>
  </div>

  <%= image_tag @event_place.yelp_image_url, class: "bw_event-cover bw_image-round my-4" %>

  <h2 class="h-32px text-center"><%= @event_place.yelp_name %></h2>

  <% if !@event_place.yelp_rating.nil? %><p class="bw_stars"><% @event_place.yelp_rating.times do %> <i class="fas fa-star text-primary"></i> <% end %> (<%= @event_place.yelp_review_count %>)</p><% end %>
  
  <p><i class="fas fa-map-marker-alt mr-2 text-primary"></i><%= @event_place.yelp_address1 %></p>
  <p><%= @event_place.yelp_zip_code %>, <%= @event_place.yelp_city %></p>

  <div class="bw_big-links d-flex flex-row justify-content-between align-items-center">
    <%= link_to "tel:#{@event_place.yelp_phone}" do %><i class="fas fa-phone"></i><% end %>
    <%= link_to "https://www.yelp.com/map/#{@event_place.yelp_alias}" do %><i class="fas fa-location-arrow"></i><% end %>
    <%= link_to @event_place.yelp_url do %><i class="fab fa-yelp"></i><% end %>
  </div>

</div>
