<% @page_title = "#{@event.title}" %>
<% @back_button = "back" %>
<% @cog_button = "event" %>
<% @show_bolt_button = true %>
<%= render 'shared/navbar' %>


<div class="container d-flex flex-column justify-content-between">
</div>

<% if @event.stage == 1 && current_user.has_voted?(@event) %>
    <%= render 'show_waiting' %>

  <% elsif @event.stage == 1 %>
    <%= render 'show_stage1' %>

  <% elsif @event.stage == 2 && current_user == @random_user %>
    <%= render 'show_stage2-random' %>

  <% elsif @event.stage == 2 %>
    <%= render 'show_stage2-others' %>

  <% elsif @event.stage == 3 %>
    <%= render 'show_stage3' %>

<% end %>

<%= render 'shared/bottombar' %>
