<% @page_title = "Dashboard" %>
<% @back_button = "logout" %>
<% @cog_button = "user" %>

<%= render "shared/navbar"  %>

<div class="container mt-4">
  <h2>Events</h2>
  <ul>
    <div class="">

    <% @events.each do |event| %>
      <div class="d-flex flex-row justify-content-between">
        <div class="">
        <li><div class="avatar mr-3"><%= show_svg(event.avatar_file) %></div><%= link_to event.title, event_path(event) %></li>
        </div>
        <div class="">
        <span class="bw_event_dates"><i class="fas fa-calendar"></i> <%= event.date %></span>
        </div>
      </div>
    <% end %>
    </div>
  </ul>

  <h2>Groups</h2>

  <ul>
    <% @groups.each do |group| %>
      <div class="card">
        <li class="d-flex align-items-center"><div class="avatar mr-3"><%= show_svg(group.avatar_file) %></div><%= link_to group.title, group_path(group) %></li>
        <span class="bw_group_members"><i class="fas fa-user-friends"></i> <%= group.group_memberships.count %></span>
      </div>
    <% end %>
    <li class="d-flex align-items-center"><div class="avatar mr-3"><%= show_svg("avatars/plus.svg") %></div><%= link_to "Add a new group", new_group_path %></li>
  </ul>
</div>
<%= render "shared/bottombar"%>


