<% @page_title = "Dashboard" %>
<% @back_button = "logout" %>
<% @cog_button = "user" %>

<%= render "shared/navbar"  %>

<div class="container mt-4 bw_padding-bottom-1">
  <h2>Events</h2>

  <ul>
    <% @events.each do |event| %>
    <li class="d-flex align-items-center"><div class="avatar mr-3"><%= show_svg(event.avatar_file) %></div><%= link_to "#{event.title} (#{event.stage})", event_path(event) %></li>
    <% end %>
  </ul>

  <h2>Groups</h2>

  <ul>
    <% @groups.each do |group| %>
    <li class="d-flex align-items-center"><div class="avatar mr-3"><%= show_svg(group.avatar_file) %></div><%= link_to group.title, group_path(group) %></li>
    <% end %>
    <li class="d-flex align-items-center"><div class="avatar mr-3"><%= show_svg("avatars/plus.svg") %></div><%= link_to "Add a new group", new_group_path %></li>
  </ul>
</div>

<%= render "shared/bottombar"%>
