<% @page_title = "Dashboard" %>
<% @back_button = "logout" %>
<% @cog_button = "user" %>

<%= render "shared/navbar"  %>

<div class="container d-flex flex-column justify-content-center mt-4 bw_padding-bottom-1">
  <div>
    <h2>Upcoming Events</h2>

    <% @events.each do |event| %>

      <div class="bw_event d-flex flex-row justify-content-left align-items-center py-3 px-0 pr-3">
        <div class="col-2 pl-0">
          <%= show_svg(event.avatar_file) %>
        </div>
        <div class="flex-grow-1 justify-content-between d-flex flex-row align-items-center">
          <strong class="text-dark"><%= link_to "#{event.title}", event_path(event) %></strong>
          <small class="text-muted"><%= event.date.strftime("%b %d") %></small>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <h2 class="mt-4">Groups</h2>

    <% @groups.each do |group| %>

    <div class="bw_group d-flex flex-row justify-content-left align-items-center py-3 px-0 pr-3">
      <div class="col-2 pl-0">
        <%= show_svg(group.avatar_file) %>
      </div>

      <div class="flex-grow-1 justify-content-between d-flex flex-row align-items-center">
        <strong class="text-dark"><%= link_to group.title, group_path(group) %></strong>
        <small class="text-muted"><i class="fas fa-user-friends"></i> <%= group.group_memberships.count %></small>
      </div>
    </div>

    <% end %>

    <div class="bw_group d-flex flex-row justify-content-left align-items-center py-3 px-0">
      <div class="col-2 pl-0">
        <%= show_svg("avatars/plus.svg") %>
      </div>
      <strong class="text-dark"><%= link_to "Add a new group", new_group_path %></strong>
    </div>
  </div>

</div>
<%= render "shared/bottombar"%>


